@page "/person/new"

@using KeyBook.Services
@using KeyBook.Models

@inject PersonService PersonService
@inject NavigationManager NavManager

<a href="@__backUrl">Back</a>

<EditForm Model=@__person OnValidSubmit="@__AddPerson">
    <Details @bind-Person=__person />
    <button type="submit">Add person</button>
</EditForm>

@code {
    private const string __backUrl = "/person";

    private Person __person = new Person();

    private async Task __AddPerson()
    {
        bool success;
        string? errorMessage;

        (success, errorMessage) = await PersonService.AddPerson(__person);

        if (success) NavManager.NavigateTo(__backUrl);
    }
}