@*
    New Device
*@
@using KeyBook.ViewModels
@model Device
<button onclick="window.location.href='/Device';">Back</button>
<div>
    <form action="/Device/New" method="POST">
        <partial name="_DetailsPartial.cshtml" model="@Model" />
        <input type="submit" value="Add device" />
    </form>
</div>
