@using Microsoft.AspNetCore.Http
@using System.Security.Claims

@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager NavManager

@inherits LayoutComponentBase

<PageTitle>KeyBook</PageTitle>
@{
    string[] publicRoutes = new string[]
    {
        "/Identity/Account/Login",
        "/Identity/Account/Register"
    };
    if (HttpContextAccessor.HttpContext == null) return;
    string currentRoute = HttpContextAccessor.HttpContext.Request.Path;
    ClaimsPrincipal user = HttpContextAccessor.HttpContext.User;
}
<div class="page">
    <main>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">KeyBook</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <AuthorizeView Roles="SuperAdmin">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="/User">Users</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="/Roles">Roles</a>
                                </li>
                            </AuthorizeView>
                            <AuthorizeView Roles="Owner">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="/Device">Manage Devices</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="/Person">Manage Persons</a>
                                </li>
                                @*                                <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="DataImport" asp-action="Index">Import Devices and Persons</a>
                                </li>*@
                            </AuthorizeView>
                        </ul>
                        @if (user.Identity != null && user.Identity.IsAuthenticated && publicRoutes.Contains(currentRoute))
                        {
                            <meta http-equiv="Refresh" content="0; url='/'" />
                        }
                        <LoginDisplay />
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            @Body
        </div>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - KeyBook - <a href="/Privacy">Privacy</a>
            </div>
        </footer>
    </main>
</div>
