@page "/device/new"

@using KeyBook.Services
@using KeyBook.Models

@inject DeviceService DeviceService
@inject NavigationManager NavManager

<a href="@__backUrl">Back</a>

<EditForm Model=@__device OnValidSubmit="@__AddDevice">
    <Details @bind-Device=__device />
    <button type="submit">Save device</button>
</EditForm>

@code {
    private const string __backUrl = "/device";

    private Device __device = new Device();

    private async Task __AddDevice()
    {
        bool success;
        string? errorMessage;

        (success, errorMessage) = await DeviceService.AddDevice(__device);

        if (success) NavManager.NavigateTo(__backUrl);
    }
}
