@*
    New Person
*@
@using KeyBook.ViewModels
@model Person
<button onclick="window.history.back()">Back</button>
<form action="/Person/New" method="POST">
    <partial name="_DetailsPartial.cshtml" model="@Model" />
    <input type="submit" value="Add person" />
</form>