@*
    New Person
*@
@using KeyBook.ViewModels
@model PersonDetailsViewModel
<button onclick="window.history.back()">Back</button>
<form action="/Person/New" method="POST">
    <partial name="_DetailsPartial.cshtml" model="@Model" />
    <button>Add person</button>
</form>